body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    position: relative;
    margin: 0;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #000000;
}

button {
    background-color: #007BFF;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.movie {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.movie-title {
    font-size: 20px;
    color: #228B22;
}

.movie-year {
    position: absolute;
    top: 0;
    right: 0;
    font-style: italic;
    color: #228B22;
    padding: 15px 5px;
    border-radius: 5px 0 0 0;
}

.movie-genres, .movie-cast {
    color: #6c757d;
}

.loading {
    text-align: center;
    margin-top: 20px;
}

#totalMovies {
    text-align: right;
    margin-top: 20px;
}

.jumbotron {
    padding: 0;
    margin-bottom: 0;
}

.jumbotron .logo {
    background-image: url("wall.jpg");
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form {
    max-width: 900px;
    margin: 0 auto;
}

.movieResults {
    max-width: 800px;
    margin: 0 auto;
}
